
<div class='retro-btn sm primary m-0 d-flex justify-content-center d-md-block' onclick="window.location.href='{% url 'games' %}';">
    <a class='btn'> 
        <span class='btn-inner'>
            <span class='content-wrapper'>
                <span class='btn-content'>
                    <span class='btn-content-inner'>
                        <i class="fa-solid fa-chevron-left"></i> Keep Shopping
                    </span>
                </span>
            </span>
        </span>
    </a>
</div>
<div class='retro-btn sm success d-flex justify-content-center d-md-block' onclick="window.location.href='{% url 'checkout' %}';">
    <a class='btn'> 
        <span class='btn-inner'>
            <span class='content-wrapper'>
                <span class='btn-content'>
                    <span class='btn-content-inner small-text'>
                        Secure Checkout <i class="fas fa-lock"></i>
                    </span>
                </span>
            </span>
        </span>
    </a>
</div>
