{% extends "base.html" %}
{% load static %}
{% block favicon %}
{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid hero-image">
    <div class="row">
        <div class="col-12 call-to-action">
            <h1 class="headline text-black">Retro Gaming Redefined</h1>
            <div class="my-5 shop-now">
                <h4>
                    <a href="" class="shop-now-btn btn btn-lg rounded-5 text-uppercase ">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container newsletter-container mt-4">
    <div class="row newsletter">
        <div class="col-12">fsdfds</div>
        <div class="col-12">dsfdfs</div>
    </div>
</div>


{% endblock %}