{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container-fluid checkout-container">
	<div class="row d-flex justify-content-center">
		<div class="col-md-8 success-background mx-2">
			<div class="row text-center mb-5">
				<div class="col-md-12 p-3 mb-2 ">
                    <h1 class="bg-success">Checkout successful <i class="fa-solid fa-check"></i></h1>
                    <h2 class="pink-checkout-background"> Order No. {{ order.order_number }}</h2>
				</div>
			</div>
			<div class="row mt-3 d-flex justify-content-center">
				<div class="col-md-3 pink-checkout-background m-2">
                    <h2>Your information</h2>
                    <p class="my-0">Full name: {{ order.full_name }}</p>
                    <p class="my-0">Phone No.: {{ order.phone_number }}</p>
                    <p class="my-0">Email : {{ order.email }}</p>

				</div>
                <div class="col-md-3 pink-checkout-background m-2">
                    <h2>Order Date</h2>
                    <p>{{ order.date }}</p>
				</div>
				<div class="col-md-3 pink-checkout-background m-2">
                    <h2>Billing Address</h2>
                    <p class="my-0">{{ order.street_address1 }}, {{ order.street_address2 }}</p>
                    <p class="my-0">{{ order.town_or_city}}, {{ order.postcode }}</p>
				</div>
			</div>
			
		</div>
		<div class="col-md-3 pink-checkout-background">
            <div class="row mt-2">
                <div class="col-md-8">
                    <h2>Order Summary</h2>
                </div>
            </div>
			<div class="row">
                {% for item in order.lineitems.all %}
                
                    <div class="col-md-4">
                        <p class="small mb-0 text-black font-weight-bold">
                            {{ item.game.friendly_name }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="small mb-0 text-right">
                            {% if item.discounted_price %}
                                {{ item.discounted_price }}
                            {% else %}
                                {{ item.game.price}}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="small mb-0">
                            x {{ item.quantity }}
                        </p>
                    </div>
                
                {% endfor %}

			</div>
            {% if request.session.discount_amount %}
                <div class="row">
                    <div class="col-md-6">
                        Sub total
                    </div>
                    <div class="col-md-6">
                        £{{ order.total }}
                        
                    </div>
			    </div>
            <div class="row">
				<div class="col-md-6">
                    Discount
				</div>
				<div class="col-md-6">
                    <p class="my-0">£{{ request.session.discount_amount| floatformat:2 }}</p>
                   
				</div>
			</div>
            <div class="row">
				<div class="col-md-6">
                    Grand total
				</div>
				<div class="col-md-6">
                    <p class="my-0">£{{ request.session.discounted_total| floatformat:2 }}</p>
                  
				</div>
			</div>
            {% else %}
                <div class="row">
                    <div class="col-md-6">
                        Total
                    </div>
                    <div class="col-md-6">
                        {{ order.total }}
                        
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-6 text-right mt-3">
                    {% if from_profile %}
                        <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                            <span class="icon mr-2">
                                <i class="fas fa-angle-left"></i>
                            </span>
                            <span class="text-uppercase">Back to Profile</span>
                        </a>
                    {% else %}
                        <a href="{% url 'games' %}?category=disounted_games" class="btn btn-black rounded-0 my-2">
                            <span class="icon mr-2">
                                <i class="fas fa-gamepad"></i>
                            </span>
                            <span class="text-uppercase">Now check out the latest deals!</span>
                        </a>
                    {% endif %}
                </div>
            </div>
            
		</div>
	</div>
</div>
    
{% endblock %}