{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block title %}Checkout{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <section id="checkout-section">
        <div class="row mw-100">
            <div class="col-12 col-lg-6 my-5">
                <div class="row justify-content-end">
                    <div class="col-12 col-lg-10 checkout-form-container">
                        <h1 class="h2 mb-3">Complete your order</h1>
                        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                            {% csrf_token %}
                            <div class="title-container d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center my-4">
                                <h3 class="h3">Personal Details</h3>
                                <p class="mb-0">
                                    {% if not request.user.is_authenticated %}
                                        Already have an account? <strong>
                                            <a href="{% url 'account_login' %}" class="text-secondary text-decoration-underline">Sign in</a>
                                        </strong>
                                    {% else %}
                                        Hi {{ request.user.name }}!
                                        <strong>
                                            <a href="{% url 'account_logout' %}" class="text-secondary text-decoration-underline">Sign out</a>
                                        </strong>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-0">
                                    {{ order_form.full_name|as_crispy_field }}
                                    {% if order_form.full_name.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ order_form.full_name.errors|striptags }}
                                        </div>
                                    {% endif %}
                                </div>
                               
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-0">
                                    {{ order_form.email|as_crispy_field }}
                                    {% if order_form.email.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ order_form.email.errors|striptags }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6 mb-0">
                                    {{ order_form.phone_number|as_crispy_field }}
                                    {% if order_form.phone_number.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ order_form.phone_number.errors|striptags }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <h3 class="h3 my-4">Shipping Details</h3>
                            {{ order_form.street_address1|as_crispy_field }}
                            {% if order_form.street_address1.errors %}
                                <div class="alert alert-danger mt-2">
                                    {{ order_form.street_address1.errors|striptags }}
                                </div>
                            {% endif %}
                            {{ order_form.street_address2|as_crispy_field }}
                            {% if order_form.street_address1.errors %}
                                <div class="alert alert-danger mt-2">
                                    {{ order_form.street_address1.errors|striptags }}
                                </div>
                            {% endif %}
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-0">
                                    {{ order_form.town_or_city|as_crispy_field }}
                                    {% if order_form.town_or_city.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ order_form.town_or_city.errors|striptags }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6 mb-0">
                                    {{ order_form.postcode|as_crispy_field }}
                                    {% if order_form.postcode.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ order_form.postcode.errors|striptags }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-0">
                                    {{ order_form.county|as_crispy_field }}
                                    {% if order_form.county.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ order_form.county.errors|striptags }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6 mb-0">
                                    {{ order_form.country|as_crispy_field }}
                                    {% if order_form.country.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ order_form.country.errors|striptags }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-check form-check-inline float-right mr-0">
                                    {% if user.is_authenticated %}
                                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                        <label class="form-check-label" for="id-save-info">Save this billing information to my profile</label>
                                    {% else %}
                                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info">
                                        <label class="form-check-label" for="id-save-info">
                                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                        </label>
                                    {% endif %}
                                </div>
                            </div>
                            
                        
                            <fieldset class="px-3">
                                <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                                <!-- A Stripe card element will go here -->
                                <div class="mb-3" id="card-element"></div>
                                <!-- Used to display form errors -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                <input type="hidden" value="{{ client_secret}}" name="client_secret">
                               
                            </fieldset>
                            <div class="form-buttons w-100 d-flex justify-content-between">
                                <div class="w-100">
                                    <a href="{% url 'view_bag' %}" class="w-100 btn btn-outline-primary">
                                        <i class="fas fa-chevron-left fa-xs"></i> Edit Bag
                                    </a>
                                </div>
                                <div class="w-100 ml-3">
                                    <button id="submit-button" class="btn btn-primary w-100">Complete checkout</button>
                                    <p class="small text-right text-primary my-1">
                                        <i class="fas fa-exclamation-circle"></i> Your card will be charged €{{ total|floatformat:2 }}
                                    </p>
                                </div>
                            </div>
                        </form>
                        <div class="my-4">
                            <h3 class="h3">Discount Code</h3>
                            <form method="post" action="{% url 'apply_discount' %}">
                                {% csrf_token %}
                                <input type="text" name="discount_code" placeholder="Enter discount code">
                                <button type="submit" class="btn btn-outline-secondary">Apply</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
            {% comment %} Order Summary {% endcomment %}
           
            <div class="col-12 col-lg-6">
                <div class="row justify-content-start">
                    <div class="col-12 col-lg-10">
                        <div class="py-5 order-summary-content">
                            <h2 class="h2 mb-3">Order Summary ({{ game_count }})</h2>
                            <div class="mt-4 container-fluid order-summary__line-items">
                                {% for item in bag_items %}
                                <div class="row">
                                    <div class="col-2 mb-1">
                                        <a href="{% url 'game_detail' item.game.id %}">
                                            {% if item.game.image %}
                                                <img src="{{ item.game.image.url }}" alt="Game Image">
                                            {% else %}
                                                <img class="w-100" src="{{ MEDIA_URL }}/games/noimage.png" alt="{{ item.game.name }}">
                                            {% endif %}
                                        </a>
                                    </div>

                                    <div class="col-7">
                                        <p class="my-0"><strong>{{ item.game.friendly_name }}</strong></p>
                                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="my-0 small text-muted">
                                            {% for item in bag_items %}
                                                <p>Game: {{ item.game.name }}</p>
                                                <p>Quantity: {{ item.quantity }}</p>
                                                <p>Price: {{ item.discounted_price }}</p>
                                            {% endfor %}
                                            <p>Total:{{ total }}</p>
                                    
                                          
                                            {% if request.session.discount_amount %}
                                                <p>Discount Amount: {{ request.session.discount_amount| floatformat:2 }}</p>
                                            {% endif %}
                                    
                                            <p>Total: {{ request.session.discounted_total }}</p>
                                        </p>
                                    </div>
                                </div> 
                                {% endfor %}
                                
                            </div>
                            <hr class="bg-light my-4 ml-0 px-0">
                            <div class="row justify-content-end">
                                <div class="col-6 px-0">
                                </div>
                                <div class="col-4 px-0">
                                    <p class="h6 text-right"><strong>Total</strong></p>
                                </div>
                                <div class="col-2">
                                    {% if request.session.discounted_total %}
                                        <p>{{ request.session.discounted_total| floatformat:2 }}</p>
                                    {% else %}
                                    <p class="h6 text-right">€{{ total|floatformat:2 }}</p>
                                    {% endif %}
                        
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="loading-overlay">
        <div class="loader">
            <div class="heart"></div>
            <div class="heart"></div>
            <div class="heart"></div>
          </div>
        <!-- <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1> -->
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}