/* Global ------------------------------------------------------------------------------ */
html {
  height: 100%;
}

body {
  background-image: url("/media/background.jpg");
  width: 100%;
  background-size: cover;
  min-height: 100vh;
  font-family: "VT323", sans-serif;
  margin: 0;
  padding-top: 150px;
}

.dropdown-menu {
  max-height: 60vh;
  overflow-y: auto;
}

/* index.html ------------------------------------------------------------------------------ */

.hero-image {
  background: url("/media/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 60vh;
  position: relative;
}

.call-to-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headline {
  background-color: #ca4727;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  border: 1px solid;
}

.shop-now-btn {
  min-width: 100px;
  background-color: #ca4727;
  border-radius: 5px;
}

.shop-now-btn:hover {
  
  background-color: #ca4727;
  color: white !important;
  border-color: #fff;
}

.red-btn {
  background-color: #ca4727 !important;
  color: #000 !important;
  border-radius: 5px !important;
  border: 1px solid !important;
  border-color: #000 !important;
}


.red-btn:hover {
  color: #fff !important;
  background-color: #bc4224 !important;
}

.logo-image {
  height: 100px;
}

.text-black {
  color: #000 !important;
}

nav {
  position: sticky;
}

.nav-item a {
  font-size: 20px;
}

.pink-background {
  background-color: #eeb8b6;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.main-logo-link {
  width: fit-content;
}

.navbar-collapse,
.navbar {
  padding: 0;
}

.offwhite-background {
    background-color: rgba(242, 233, 223, 0.8)
}

#topnav {
  background-color: #eeb8b6;
}

.newsletter-container {
  margin-top: 20px;
  width: 100%;
}

#mc_embed_signup {
  background: #eeb8b6;
  clear: left;
  font: 14px "VT323";
  width: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #eeb8b6;
  z-index: -1;
}

/* games.html ------------------------------------------------------------------------------ */

.game-title {
  font-size: 45px;
}

.games-heading {
  margin-top: 35px;
}
.game-name {
  font-size: 20px;
}

.game-image {
  height: 200px;
  padding: 10px;
  object-fit: contain;
}

.game-image-bag {
  padding: 10px;
  object-fit: contain;
}

.badge.active {
  background-color: #ca4727;
  color: white !important;
}

/* game_detail.html ------------------------------------------------------------------------------ */

.game-description {
  font-size: 20px;
}

.reviews {
  background-color: ;
}

.sale {
  font-size: 20px;
  font-weight: 500;
}



.genre-badge {
  margin-top: 250px;
}

a.genre-badge > span.badge:hover {
  background: black;
  color: white !important;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 20px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Media queries ------------------------------------------------------------------------------ */

@media (min-width: 992px) {
  .text-lg-right {
    text-align: right !important;
  }

}

@media (max-width: 990px){
  body {
    padding-top: 10px;
  }

  .games-heading {
    margin-top: 50px;
  }

  .clear {
    display: flex !important;
    justify-content: center !important;
  }

  .primary {
    margin: auto;
  }

  .game-description {
    font-size: 18px;
    height: 350px;
    overflow-y: auto;
  }

  .game-detail-img {
    justify-content: center;
  }

  .nav-link {
    padding: 0.15rem !important;
  }

  .genre-rating {
    display: flex;
    justify-content: center;
  }
  

}

@media (max-width: 500px) {
  .game-container {
    margin-top: 0;
  }

  .page-margin {
    margin-top: 100px;
  }

  
  .nav-link i {
    font-size: 100%;
  }


  
}

/* Allauth  ------------------------------------------------------------------------------ */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: white;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.login-signup-btn {
  background-color: #28a745 !important;
  min-width: 100px !important;
  font-family: 'VT323', sans-serif;
  text-transform: uppercase;
  font-weight: 600 !important;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
  /* btn */
  display: inline-block;
  font-weight: 400;
  color: #fff;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: None;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  font-family: "VT323", sans-serif ;
  color: black;

  /* standard bootstrap btn transitions */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
  color: #fff;
  background-color: #222;
  border-color: white;
}

.allauth-form-inner-content a {
  color: #17a2b8; /* text-info */
}

/* Game Detail ------------------------------------------------------------------------------ */

.game-details {
  background-color: #eeb8b6;
}



/* Add/Edit game form  ------------------------------------------------------------------------------ */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.loader {
  width: 55px;
  height: 24px;
  border-radius: 5px;
  padding: 4px 0;
  background: #222;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2);
  // scaling it for a better view

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 2px;
    width: 2px;
  }

  &::before {
    box-shadow: //left border
      -2px 0px 0 #111, -4px 2px 0 #111, -6px 4px 0 #111, -6px 6px 0 #111,
      -6px 8px 0 #111, -6px 10px 0 #111, -6px 12px 0 #111, -6px 14px 0 #111,
      -4px 16px 0 #111, -2px 18px 0 #111,
      //left lg vertical line
      -2px 2px 0 #222,
      -2px 4px 0 #222, -2px 6px 0 #222, -2px 8px 0 #222, -2px 10px 0 #222,
      -2px 12px 0 #222, -2px 14px 0 #222, -2px 16px 0 #222,
      //left md vertical line
      -4px 4px 0 #222,
      -4px 6px 0 #222, -4px 8px 0 #222, -4px 10px 0 #222, -4px 12px 0 #222,
      -4px 14px 0 #222;
  }

  &::after {
    right: 0;
    box-shadow: //left border
      2px 0px 0 #111, 4px 2px 0 #111, 6px 4px 0 #111, 6px 6px 0 #111,
      6px 8px 0 #111, 6px 10px 0 #111, 6px 12px 0 #111, 6px 14px 0 #111,
      4px 16px 0 #111, 2px 18px 0 #111,
      //left lg vertical line
      2px 2px 0 #222,
      2px 4px 0 #222, 2px 6px 0 #222, 2px 8px 0 #222, 2px 10px 0 #222,
      2px 12px 0 #222, 2px 14px 0 #222, 2px 16px 0 #222,
      //left md vertical line
      4px 4px 0 #222,
      4px 6px 0 #222, 4px 8px 0 #222, 4px 10px 0 #222, 4px 12px 0 #222,
      4px 14px 0 #222;
  }
}

.heart {
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
  height: 2px;
  width: 2px;
  box-shadow: 6px 2px 0 #fff,
    //
    2px 0px 0 #fff,
    4px 0px 0 #fff, 0px 2px 0 #fff, 0px 4px 0 #fff, 2px 6px 0 #fff,
    4px 8px 0 #fff, 6px 10px 0 #fff,
    //
    8px 0px 0 #fff,
    10px 0px 0 #fff, 12px 2px 0 #fff, 12px 4px 0 #fff, 10px 6px 0 #fff,
    8px 8px 0 #fff;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 2px;
    visibility: hidden;
    animation: ani 1.5s infinite;
  }

  &::before {
    box-shadow: 2px 2px 0 #e03800, 2px 4px 0 #e03800, 4px 2px 0 #e03800,
      4px 4px 0 #e03800, 4px 6px 0 #e03800, 6px 4px 0 #e03800, 6px 6px 0 #e03800,
      6px 8px 0 #e03800;
  }

  &::after {
    box-shadow: 8px 2px 0 #e03800, 8px 4px 0 #e03800, 8px 6px 0 #e03800,
      10px 2px 0 #e03800, 10px 4px 0 #e03800;
  }

  &:nth-child(1) {
    margin: 0;
    &::before {
      animation-timing-function: steps(9);
    }
    &::after {
      animation-timing-function: steps(8);
    }
  }

  &:nth-child(2) {
    &::before {
      animation-timing-function: steps(7);
    }
    &::after {
      animation-timing-function: steps(6);
    }
  }

  &:nth-child(3) {
    &::before {
      animation-timing-function: steps(5);
    }
    &::after {
      animation-timing-function: steps(4);
    }
  }
}

@keyframes ani {
  to {
    visibility: visible;
  }
}

/* Logout  ------------------------------------------------------------------------------ */
.logout {
  margin-top: 30%;
}