{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container mt-3">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Game Management</h2>
                <h5 class="text-muted">Add a Game</h5>
                <hr>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8">
                <form method="POST" action="{% url 'add_game' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                   
                    <div class="col-12  d-flex flex-row justify-content-center mb-3">
                        <div  class='retro-btn success sm' onclick="document.getElementById('submitButton').click();">
                            <a class='btn'> 
                                <span class='btn-inner'>
                                    <span class='content-wrapper'>
                                        <span class='btn-content'>
                                            <span class='btn-content-inner'>
                                                ADD GAME
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                            <input type="submit" id="submitButton" class="hidden">
                        </div>
                    </div>
                    <div class="col-12 d-flex flex-row justify-content-center mb-3">
                        <div class='retro-btn sm danger' onclick="window.location.href='{% url 'games' %}';">
                            <a class='btn'> 
                                <span class='btn-inner'>
                                    <span class='content-wrapper'>
                                        <span class='btn-content'>
                                            <span class='btn-content-inner'>
                                                CANCEL
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
        
                    
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}