{% extends "base.html" %}
{% load static %}
{% block favicon %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center page-margin">
            <h2 class="text-black">
                {% if current_genres %}
                    {{ current_genres.0.friendly_name }} Games
                {% else %}
                    Games
                {% endif %}
            </h2>
            
            
            {% for g in current_genres %}
                <a class="genre-badge text-decoration-none" href="{% url 'games' %}?genre={{ g.name }}">
                    <span class="p-2 mt-20 badge badge-white text-black rounded-1 border border-dark">{{ g.friendly_name }}</span>
                </a>
            {% endfor %}
            {% for c in current_categories %}
                <a class="category-badge text-decoration-none" href="{% url 'games' %}?category={{ c.name }}">
                    <span class="p-2 mt-20 badge badge-white text-black rounded-1 border border-dark">{{ c.friendly_name }}</span>
                </a>
            {% endfor %}
            <hr class=" w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="game-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for game in games %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="card h-100 border-0">
                        {% if game.image %}
                        <a href="{% url 'game_detail' game.id %}">
                            <img class="card-img-top img-fluid game-image" src="{{ MEDIA_URL}}/media/media/games/{{game.name}}.webp" alt="{{ game.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'game_detail' game.id %}">
                            <img class="card-img-top img-fluid game-image" src="{{ MEDIA_URL}}image_not_found.webp" alt="{{ game.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ game.friendly_name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left text-black">
                            <div class="row">
                                <div class="col">
                                    <p class="lea mb-0 text-left font-weight-bold">£{{ game.price }}</p>
                                    {% if game.genre.all %}
                                    <p class="mt-1 mb-0">
                                        <i class="fas fa-tag mr-1"></i>
                                        {% for genre in game.genre.all %}
                                            <a class="text-muted" href="{% url 'games' %}?genre={{ genre.name }}" >
                                               {{ genre.friendly_name }}
                                            </a>
                                            {% if not forloop.last %}|{% endif %}
                                        {% endfor %}
                                    </p>
                                    {% endif %}
                                    {% if game.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ game.rating }} /5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                            
                       
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    </div>
</div>
{% endblock %}