<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar w-auto mx-auto list-unstyled d-flex flex-column flex-lg-row align-items-start pl-2">

        <!-- Home Link (visible on small screens) -->
        <li class="nav-item d-block d-md-none p-0 px-lg-5">
            <a class="font-weight-bold nav-link text-black " href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <!-- All Games Dropdown -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black p-0 px-lg-5" href="#" id="all-games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-games-link">
                <a href="{% url 'games' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'games' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'games' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'games' %}" class="dropdown-item">All Games</a>
            </div>
        </li>

        <!-- Genre Dropdown --> 
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black p-0 px-lg-5" href="#" id="genre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="genre-link">
                <a href="{% url 'games' %}?genre=adventure" class="dropdown-item">Adventure</a>
                <a href="{% url 'games' %}?genre=arcade" class="dropdown-item">Arcade</a>
                <a href="{% url 'games' %}?genre=platform" class="dropdown-item">Platform</a>
                <a href="{% url 'games' %}?genre=shooter" class="dropdown-item">Shooter</a>
                <a href="{% url 'games' %}?genre=sport" class="dropdown-item">Sport</a>
                <a href="{% url 'games' %}?genre=simulator" class="dropdown-item">Simulator</a>
                <a href="{% url 'games' %}?genre=rpg" class="dropdown-item">RPG</a>
                <a href="{% url 'games' %}?genre=turn_based_strategy" class="dropdown-item">Turn Based Strategy</a>
                <a href="{% url 'games' %}?genre=tactical" class="dropdown-item">Tactical</a>
                <a href="{% url 'games' %}?genre=racing" class="dropdown-item">Racing</a>
                <a href="{% url 'games' %}?genre=puzzle" class="dropdown-item">Puzzle</a>
                <a href="{% url 'games' %}?genre=fighting" class="dropdown-item">Fighting</a>
                <a href="{% url 'games' %}?genre=brawler" class="dropdown-item">Brawler</a>
                <a href="{% url 'games' %}?genre=strategy" class="dropdown-item">Strategy</a>
                <a href="{% url 'games' %}?genre=visual_novel" class="dropdown-item">Visual Novel</a>
                <a href="{% url 'games' %}?genre=point_and_click" class="dropdown-item">Point-and-Click</a>
                <a href="{% url 'games' %}?genre=indie" class="dropdown-item">Indie</a>
                <a href="{% url 'games' %}?genre=music" class="dropdown-item">Music</a>
                <a href="{% url 'games' %}?genre=card_and_board_game" class="dropdown-item">Card & Board Game</a>
                <a href="{% url 'games' %}" class="dropdown-item">All Genres</a>
             
            </div>
        </li>

        <!-- Category Dropdown -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black p-0 px-lg-5 " href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="{% url 'games' %}?category=top_sellers" class="dropdown-item">Top Sellers</a>
                <a href="{% url 'games' %}?category=all_time_classics" class="dropdown-item">All-Time Classics</a>
                <a href="{% url 'games' %}?category=staff_picks" class="dropdown-item">Staff Picks</a>
            </div>
        </li>

        <!-- Special Offers Dropdown -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black p-0 px-lg-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'games' %}?category=discounted_games" class="dropdown-item">Discounted Games</a>
                <a href="{% url 'games' %}?category=seasonal_specials" class="dropdown-item">Seasonal Specials</a>
            </div>
        </li>

    </ul>
</div>
