{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
  <div class="container-fluid h-100 logout">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h2 class="logo-font">{% trans "Sign Out" %}</h2>
          </div>
          <div class="card-body">
            <p>{% trans 'Are you sure you want to sign out?' %}</p>

            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
              {% endif %}

              <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-outline-secondary rounded-0" href="{% url 'home' %}">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn btn-danger">{% trans 'Sign Out' %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
