{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <div class="offwhite-background p-3 mt-5">
        <hr>
        <h2 class="logo-font mb-4">{% trans "Password Reset" %}</h2>
        <hr>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="text-black">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex flex-row">
                <div role='button' class='retro-btn sm primary m-0' onclick="window.location.href='{% url 'account_login' %}';">
                    <a class='btn pl-0'> 
                        <span class='btn-inner'>
                            <span class='content-wrapper'>
                                <span class='btn-content'>
                                    <span class='btn-content-inner '>
                                        <i class="fa-solid fa-chevron-left"></i> Back to Login
                                    </span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <input class=" d-flex align-items-center justify-content-center retro-btn login-signup-btn" type="submit" value="{% trans 'Reset My Password' %}" />
            </div>
        </form>

        <p class="text-black">Please contact us if you have any trouble resetting your password.</p>
    </div>
{% endblock %}