{% extends "account/base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/gameboy.css' %}">
{% endblock %}


{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

<div class="gameboy text-center" id="GameBoy">
  
  <div class="screen-area pt-1">
    
    <div class="power">
      <div class="indicator">
        <div class="led"></div>
        <span class="arc" style="z-index:2"></span>
        <span class="arc" style="z-index:1"></span>
        <span class="arc" style="z-index:0"></span>
      </div>
      POWER
    </div>
    <div>

    <!--<hr>
    <h2 class="logo-font mb-4">{% trans "Sign Up" %}</h2>
    <hr>-->

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="d-flex justify-content-center">
        <div role='button' class='retro-btn sm primary m-0' onclick="window.location.href='{% url 'account_login' %}';">
          <a class='btn pl-0'> 
              <span class='btn-inner'>
                  <span class='content-wrapper'>
                      <span class='btn-content'>
                          <span class='btn-content-inner '>
                              <i class="fa-solid fa-chevron-left"></i> Back to Login
                          </span>
                      </span>
                  </span>
              </span>
          </a>
        </div>
        <button class="login-signup-btn d-flex justify-content-center align-items-center" type="submit">{% trans "Sign Up" %}</button>
      </div>
    </form>

    </div>
   
    
    <div class="label">
      <div class="title">GAME BOY</div>
      <div class="subtitle">
        <span class="c">C</span><!--
     --><span class="o1">O</span><!--
     --><span class="l">L</span><!--
     --><span class="o2">O</span><!--
     --><span class="r">R</span>
      </div>
    </div>
    
  </div>
  
  <div class="nintendo">Nintendo</div>
  
  <div class="controls">
    <div class="dpad">
      <div class="up"><i class="fa fa-caret-up"></i></div>
      <div class="right"><i class="fa fa-caret-right"></i></div>
      <div class="down"><i class="fa fa-caret-down"></i></div>
      <div class="left"><i class="fa fa-caret-left"></i></div>
      <div class="middle"></div>
    </div>
    <div class="a-b">
      <div class="b">B</div>
      <div class="a">A</div>
    </div>
  </div>
  
  <div class="start-select">
    <div class="select">SELECT</div>
    <div class="start">START</div>
  </div>
  
  <div class="speaker">
    <div class="dot placeholder"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot placeholder"></div>
    
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>

    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>

    <div class="dot placeholder"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot closed"></div>
    <div class="dot open"></div>
    <div class="dot placeholder"></div>
  </div>
  
</div>



{% endblock %}