{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container h-100 mt-5 mb-5">
    <div class="row h-100 d-flex justify-content-center text-center">
        <div class="col-7 col-md-6 my-auto offwhite-background">
            <img src="{{ MEDIA_URL }}404.jpg" alt="404 image">
            <h1 class="display-4 logo-font text-black">
                The page you are looking for isn't available
            </h1>
            <div class="my-5">

                <div role='button' class='retro-btn sm success' onclick="window.location.href='{% url 'games' %}';">
                    <a class='btn'>
                        <span class='btn-inner'>
                            <span class='content-wrapper'>
                                <span class='btn-content'>
                                    <span class='btn-content-inner'>
                                        RETURN TO SHOP
                                    </span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}