{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <!-- Meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Retro gaming redefined. Buy classic video games online.">
    <meta name="keywords"
        content="retro games, vintage video games, classic gaming, old school games, nostalgic gaming, collectible games, classic arcade games, gaming memorabilia, 8-bit games, 16-bit games, video game collectors, rare retro games, gaming nostalgia, gaming culture, retro game store, timeless games, retro gaming community">

    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=VT323&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/64b9a22ea9.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/buttons.js' %}"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block favicon %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    {% endblock %}

    <title>8Bit Bazaar {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="d-flex align-items-center nav-link main-logo-link">
                    <img class="logo-image" src="{{ MEDIA_URL}}pp5_logo.png" alt="8Bit Bazaar logo">
                    <h1 class="logo-font text-black my-0">8Bit Bazaar </h1>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'games' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-1" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-1" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_game' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'wishlist' %}" class="dropdown-item">Wishlist</a>
                            <a href="{% url 'all_reviews' %}" class="dropdown-item">My Reviews</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if total %}
                                    £{{ total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light w-100 pink-background">
                <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>

    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}

    <!-- Footer section -->
    <footer class="offwhite-background py-4">
        <div class="container">
            <div class="row">
                <!-- Contact information-->
                <div class="col-md-4">
                    <p class="footer-text">Contact Us</p>

                    <p>Email: <a href="mailto:info@8bitbazaar.co.uk" class="email">info@8bitbazaar.co.uk</a></p>
                </div>
                <div class="col-md-4">
                    <p class="footer-text">Connect with Us</p>
                    <!-- Social media links with Font Awesome icons -->
                    <a class="btn btn-primary btn-floating m-1 facebook"
                        href="https://www.facebook.com/profile.php?id=61556897555658" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook (opens in a new tab)">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-primary btn-floating m-1 twitter" href="https://twitter.com/?lang=en-gb"
                        target="_blank" rel="noopener noreferrer" aria-label="Twitter (opens in a new tab)">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-primary btn-floating m-1 instagram" href="https://www.instagram.com/"
                        target="_blank" rel="noopener noreferrer" aria-label="Instagram (opens in a new tab)">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>

                <!-- About 8Bit Bazaar -->
                <div class="col-md-4">
                    <p class="footer-text">About 8Bit Bazaar</p>
                    <p>Retro Gaming redefined. Buy your favourite games online and download on Steam!</p>
                </div>
            </div>
            <hr class="my-4">
            <div class="row">
                <!-- Copyright information-->
                <div class="col-md-6">
                    <p>&copy; 2024 8Bit Bazaar. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-right">
                    <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                </div>
            </div>

        </div>
    </footer>

</body>

</html>